<a href="https://colab.research.google.com/github/ReyesCharlies/58003-OOP/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [1]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Nested for loop

In [2]:
adjective = ["Big","Tasty","Juicy"]
fruits = ["Banana","Apple","Cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

Big Banana
Big Apple
Big Cherry
Tasty Banana
Tasty Apple
Tasty Cherry
Juicy Banana
Juicy Apple
Juicy Cherry

Break Statement

In [5]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Print Only Thursday using break statement in for loop

In [10]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

Looping through string

In [11]:
for x in "Philippines":
  print(x)

P
h
i
l
i
p
p
i
n
e
s

While loop

In [13]:
i = 1
while i <6:
  print(i)
  i+=1

1
2
3
4
5

While loop using break statement

In [25]:
i = 1
while i <6:
  if i == 4:
    print(i)
    break
  i+=1

4

Applitcation 1

In [36]:
hello = ["Hello"]
number = ["0","1","2","3","4","5","6","7","8","9","10"]
for x in hello:
  for y in number:
    print(x,y)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [54]:
x = 3
while x < 10:
  if x<10:
    print(x)
  x+=1

3