<a href="https://colab.research.google.com/github/ReyesCharlies/58003-OOP/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to phython fundamentals

In [ ]:
#Phython Indentation
if 5>2:
  print("Five is greater than two")

Five is greater than two

In [ ]:
#Python Variable
a,b=0,-1
print(a)

0

In [ ]:
a = "sally"
b = int(4)
print (b)
b = float (4)
print (b)

4
4.0

Type () Function

In [ ]:
a = "sally"
print (type(a))
b = float(4)
print (type (b))

<class 'str'>
<class 'float'>

Double or Single Quotes

In [ ]:
y = "John"
y = 'John'
print (y)

John

In [ ]:
a = "maria"

Concatenation

In [ ]:
k = "Python is "
l = "enjoying"
print (k+l)

Python is enjoying