<a href="https://colab.research.google.com/github/ReyesCharlies/58003-OOP/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Function

In [ ]:
def remainder(n,m):
  while True:
    if n -

In [2]:
fruits = ['abc',1,3,1]
print(fruits)
fruits.insert(2,2)
print(fruits)

['abc', 1, 3, 1]
['abc', 1, 2, 3, 1]

In [3]:
class Persons:
  def __init__(self,name,age):
    self.name = name
    self.age = age

student = Persons("Ana",20)
teacher = Persons("Mam Sayo",40)
print(student.name)
print(student.age)

print(teacher.name)
print(teacher.age)

Ana
20
Mam Sayo
40

In [10]:
class Shapes:
  def __init__(self,length,width):
    self.length = length
    self.width = width
  def area(self):
    return self.length * self.width

rectangle = Shapes(5,5)
rectangle.area

List

In [19]:
var = "Hello World"
varDict = {"first":123, 2: 'abc',
           '3' : var, 4 : ['lista','listb']}
print(varDict['first'])
print(varDict[4])

123
['lista', 'listb']